<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

  <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
  <uses-permission
      android:name="android.permission.QUERY_ALL_PACKAGES"
      tools:ignore="QueryAllPackagesPermission" />
  <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM"/>
  <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />

  <application
      android:allowBackup="true"
      android:icon="@mipmap/ic_launcher"
      android:label="@string/app_name"
      android:requestLegacyExternalStorage="true"
      android:roundIcon="@mipmap/ic_launcher_round"
      android:supportsRtl="true"
      android:theme="@style/Theme.ActivityServiceLifeCycle">

    <activity android:name=".SimpleActivity" android:exported="true">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>

    <activity
        android:name=".CgroupFlockActivity"
        android:label="CgroupFlockActivity"
        android:exported="true">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>

    <activity
        android:name=".BackgroundActivity"
        android:label="BackgroundActivity"
        android:exported="true">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>

    <activity
        android:name=".BatteryActivity"
        android:label="BatteryActivity"
        android:exported="true">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
      <intent-filter>
        <action android:name="android.intent.action.BATTERY_CHANGED" />
        <action android:name="android.intent.action.BATTERY_LOW" />
        <action android:name="android.intent.action.BATTERY_OKAY" />
        <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
        <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
      </intent-filter>
    </activity>

    <activity
        android:name=".AlarmActivity"
        android:label="AlarmActivity"
        android:exported="true">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>

    <receiver android:name=".AlarmReceiver">
    </receiver>

    <provider
        android:name=".SimpleContentProvider"
        android:authorities="com.lilioss.simpleactivity.provider"
        android:enabled="true"
        android:exported="true"></provider>

    <service
        android:name=".SimpleIntentService"
        android:enabled="true"
        android:exported="true">
      <intent-filter>
        <action android:name="com.lilioss.lifecycle.simpleactivity.action.BAZ" />
      </intent-filter>
    </service>

    <service
        android:name=".SimpleAIDLService"
        android:enabled="true"
        android:exported="true"
        android:process=":remote">
      <intent-filter>
        <action android:name="com.lilioss.lifecycle.simpleactivity.action.AIDL" />
      </intent-filter>
    </service>

    <receiver android:name=".SimpleBroadcastReceiver" android:exported="true">
      <intent-filter>
        <action android:name="com.lilioss.lifecycle.ManifestBroadcast" />
      </intent-filter>
    </receiver>

    <activity android:name=".DisplayEventActivity"
        android:label="DisplayEventActivity"
        android:launchMode="singleInstance"
        android:exported="true" >
        <intent-filter>
          <action android:name="android.intent.action.MAIN" />
          <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>

  </application>

</manifest>