<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.lilioss.lifecycle.simpleactivity">

  <uses-permission android:name="android.Manifest.permission.WRITE_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
  <uses-permission
      android:name="android.permission.QUERY_ALL_PACKAGES"
      tools:ignore="QueryAllPackagesPermission" />
  <uses-permission android:name="android.Manifest.permission.READ_EXTERNAL_STORAGE" />

  <application
      android:allowBackup="true"
      android:icon="@mipmap/ic_launcher"
      android:label="@string/app_name"
      android:requestLegacyExternalStorage="true"
      android:roundIcon="@mipmap/ic_launcher_round"
      android:supportsRtl="true"
      android:theme="@style/Theme.ActivityServiceLifeCycle">

    <activity android:name=".SimpleActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>

    <activity
        android:name=".CgroupFlockActivity"
        android:label="CgroupFlockActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>

    <activity
        android:name=".BackgroundActivity"
        android:label="BackgroundActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>

    <activity
        android:name=".BatteryActivity"
        android:label="BatteryActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
      <intent-filter>
        <action android:name="android.intent.action.BATTERY_CHANGED" />
        <action android:name="android.intent.action.BATTERY_LOW" />
        <action android:name="android.intent.action.BATTERY_OKAY" />
        <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
        <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
      </intent-filter>
    </activity>

    <provider
        android:name=".SimpleContentProvider"
        android:authorities="com.lilioss.simpleactivity.provider"
        android:enabled="true"
        android:exported="true"></provider>

    <service
        android:name=".SimpleIntentService"
        android:enabled="true"
        android:exported="true">
      <intent-filter>
        <action android:name="com.lilioss.lifecycle.simpleactivity.action.BAZ" />
      </intent-filter>
    </service>

    <service
        android:name=".SimpleAIDLService"
        android:enabled="true"
        android:exported="true">
      <intent-filter>
        <action android:name="com.lilioss.lifecycle.simpleactivity.action.aidl" />
      </intent-filter>
    </service>

  </application>

</manifest>